$duration: 7s;
$steps: 400;

.poly-navigation-blocks {
  @media not (prefers-reduced-motion) {
    animation-name: swirlPeak;
    animation-duration: $duration;
    animation-delay: calc(var(--animate-delay) * 5);
    animation-iteration-count: infinite;
    transition-property: background;
    transition-duration: $duration / $steps;
    transition-timing-function: ease-in;
  }
}

@keyframes swirlPeak {
  @for $s from 0 through $steps {
    $step: 100% - 100% / $steps * $s;
    $adjustment: 360deg / $steps * $s;
    #{$step} {
      background: conic-gradient(
        from #{$adjustment} at 50% 88%,
        theme.$poly-background,
        theme.$poly-primary 60%,
        theme.$poly-link-light,
        theme.$poly-info-light,
        theme.$poly-link,
      );
    }
  }
}