@use "sass:map";

$a_nvlkv: #FFBCD9;

$poly-config: (
  font-family: ('Arvo', serif),
  primary-color: $a_nvlkv,
  a11y-contrast: 'AAA',
  background-lightness: 97%,
);

$poly-config-dark: $poly-config;
