@import "./vars";

.Page{
  padding-top: 1em;
  padding-bottom: 2em;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  @media (min-width: $screen-md) {
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
  }
  > * {
    grid-column: 1 / span all;
    padding: 0 1rem;
  }
}