@import "./vars";

.Page{
  .Patreon {
    background-color: $black;
    font-family: sans-serif;
    display: inline-flex;
    align-items: center;
    color: $white;
    padding: 10px;
    border-radius: 7px;
    text-align: center;
    font-size: 88%;
    font-weight: 700;
    margin-bottom: 20px;
    img {
      margin-right: 3px;
    }
  }
}