@import "./vars";
@import "./page";

.Portfolio {
  @extend .Page;

  &__grid{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    @media (min-width: $screen-md) {
      grid-template-columns: repeat(auto-fit, minmax(150px, 280px));
      grid-gap: .25em;
    }
    @media (min-width: $screen-lg) {
      grid-template-columns: repeat(auto-fit, minmax(300px, 350px));
      grid-gap: 1em;
    }
  }
  &__item {
    &--hidden {
      display: none;
    }
  }
  &__link, &__img-link {
    display: flex;
    flex-direction: column;
    &, &:hover, &:active {
      text-decoration: none;
      outline: none;
    }
    font-family: sans-serif;
    padding-top: .2em;
    
    span, figcaption {
      margin-top: .25em;
    }
  }

  &__link {
    &:not(:hover, :active) {
      filter: grayscale(100%);
    }
  }
  &__showcase{
    @extend .Page;
    grid-column: 1 / span all;
    padding: 0;
  }
  &__figure {
    width: 100%;
    margin: 0;
    margin-bottom: 1em;
    padding: 0;
    border: 0;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    align-items: center;
    img {
      max-width: 100%;
      height: auto;
      margin: 0;
      padding: 0;
      border: 0;
      display: block;
      background-color: transparent;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}