.Portfolio {
  &__grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
    grid-gap: 1em;
  }
  &__item {
    &--hidden {
      display: none;
    }
  }
  &__link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
  }
}