body {
    position: relative;
    * {
        @include safe-animation {
            transition-property: color, background, border-color;
            transition-duration: $light-dark-duration;
            transition-timing-function: ease-in-out;
        }
    }
}

a,
button {
    @include safe-animation {
        transition-property: color, border-color, background, transform,
            box-shadow;
        transition-duration: $hover-duration;
        transition-timing-function: ease-in;
    }
}

button:disabled {
    pointer-events: none;
}

#app-styled-root {
    @include safe-animation {
        transition-property: filter;
        transition-duration: $hover-duration;
        transition-timing-function: ease-in-out;
    }
}

#toast-container {
    > div {
        display: contents;
    }
}

.full-screen {
    overflow-y: auto;
    /* bg-stone-300 dark:bg-stone-950 */
    background: #d6d3d1;
    @include dark-mode() {
        background: #0c0a09;
    }
}
