$hover-offset: 0.86em;
$hover-duration: 250ms;
$dummy-duration: 1250ms;

a {
    transition-property: color;
    transition-duration: $hover-duration;
    transition-timing-function: ease-in;
}

button:disabled {
    pointer-events: none;
}

.worksheet-tab {
    &:last-child {
        margin-right: 0;
    }
}

.dummy-line {
    $color: #e9d5ff;
    $color-dark: #3b0764;
    $alpha: 0.7;

    position: relative;
    overflow: hidden;
    &::before {
        content: " ";
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(
            85deg,
            rgba($color, 0) 0%,
            rgba($color, 0) 15%,
            rgba($color, $alpha) 20%,
            rgba($color, 0) 27%,
            rgba($color, 0) 47%,
            rgba($color, $alpha) 67%,
            rgba($color, 0) 83%
        );
        @media (prefers-color-scheme: dark) {
            background: linear-gradient(
                85deg,
                rgba($color-dark, 0) 0%,
                rgba($color-dark, 0) 15%,
                rgba($color-dark, $alpha) 20%,
                rgba($color-dark, 0) 27%,
                rgba($color-dark, 0) 47%,
                rgba($color-dark, $alpha) 67%,
                rgba($color-dark, 0) 83%
            );
        }
        animation-name: dummy-line-animation;
        animation-duration: $dummy-duration;
        animation-play-state: running;
        animation-iteration-count: infinite;
    }
}

@keyframes dummy-line-animation {
    from {
        left: -100%;
    }
    to {
        left: 100%;
    }
}

#the-done-button {
    $gradient: radial-gradient(
        ellipse 180% 10% at 50% 100%,
        #a855f7,
        transparent
    );

    background: $gradient, #581c87;
    z-index: 2;
    &,
    & + div > span {
        transition-property: margin, backrgound, box-shadow;
        transition-duration: $hover-duration;
        transition-timing-function: ease-out;
    }
    & + div {
        overflow: visible;
    }
    & + div > span {
        margin-top: 0;
        margin-bottom: 0;
    }

    &:hover {
        background: $gradient, #5b21b6;

        @media (prefers-color-scheme: dark) {
            background: $gradient, #2e1065;
        }

        & + div > span {
            margin-top: -$hover-offset;
            margin-bottom: $hover-offset;
        }
    }

    &:active {
        background: $gradient, #5b21b6;

        @media (prefers-color-scheme: dark) {
            background: $gradient, #2e1065;
        }

        box-shadow: inset 0 0.1em 1em rgba(black, 0.75);
    }
}

div:has(#the-done-button) {
    & + #process-intro {
        overflow: visible;
        & > p {
            margin-top: 0;
            transition-property: margin;
            transition-duration: $hover-duration;
        }
    }
}

div:has(#the-done-button:hover) {
    & + #process-intro > p {
        margin-top: 2 * $hover-offset;
        margin-bottom: -2 * $hover-offset;
        transition-property: margin;
        transition-duration: $hover-duration;
    }
}

#process_animation {
    aspect-ratio: 1522 / 496;
}
