$hover-offset: 0.86em;
$hover-duration: 250ms;
$dummy-duration: 1250ms;
$light-dark-duration: 10ms;

@import "_util.scss";
@import "_icons.scss";
@import "_global.scss";
@import "_worksheet.scss";
@import "_landing.scss";
