{% import "macros.html" as macros %} {% extends "layout.html" %} {% block
page_meta %}
<title>{{ section.title }}</title>
<meta name="description" content="{{ section.description }}" />
{% endblock page_meta%} {% block main %}

<div class="Bio">
  {% for page in section.pages %} {{ macros::bio(page=page, section=section) }}
  {% endfor %} {{ macros::bio(page=section, section=section) }}
</div>

{% endblock main %} {% block sidebar %}
<div class="Bio__sidebar">
  <nav class="Navigation Navigation--aside">
    <ul class="Navigation__list">
      {% for page in section.pages %} <li class="Navigation__item">{{macros::nav_link(href=page.path,
      text=macros::period_format(periods=page.taxonomies.period))}}</li> {% endfor %}
    </ul>
  </nav>
</div>
{% endblock sidebar %}
