{% import "macros.html" as macros %}
{% extends "layout.html" %} 


{% block page_meta %}
{% set section = get_section(path="bio/_index.md") %}
<title>{{macros::period_format(periods=page.taxonomies.period)}}{{ section.title }}</title>
<meta name="description" content="{{ section.description }}" />
{% endblock page_meta%} 

{% block main %}
{% set section = get_section(path="bio/_index.md") %}
<div class="Bio">
  {{ macros::bio(page=page, section=section) }}
</div>
{% endblock main %}

{% block sidebar %}
<div class="Bio__sidebar">
  <nav class="Navigation Navigation--aside">
    <ul class="Navigation__list">
      {% for page in section.pages %} 
      {% if page.path == current_path %}
      {% if loop.index0 > 0 %}
      {% set prev_index = loop.index0 - 1%}
      {% set previous_page = section.pages[prev_index] %}
      <li class="Navigation__item">
        {% set period = macros::period_format(periods=previous_page.taxonomies.period)%}
        {% set text="←"~period%}
        {{macros::nav_link(href=previous_page.path, text=text)}}
      </li>
      {% endif %}
      {% if loop.index0 < section.pages|length - 1 %}
      {% set next_index = loop.index0 + 1%}
      {% set next_page = section.pages[next_index] %}
      <li class="Navigation__item">
        {% set period = macros::period_format(periods=next_page.taxonomies.period)%}
        {% set text="→"~period%}
        {{macros::nav_link(href=next_page.path, text=text)}}
      </li>
      {% endif %}
      {% endif %}
      {% endfor %}
      <li class="Navigation__item"><hr/></li>
      {% for page in section.pages %} 
        <li class="Navigation__item">{{macros::nav_link(href=page.path,
        text=macros::period_format(periods=page.taxonomies.period))}}</li> 
      {% endfor %}
    </ul>
  </nav>
</div>
{% endblock sidebar %}