{% import "macros.html" as macros %} 
{% extends "layout.html" %} 
{% block page_meta %}

<title>{{ section.title }}</title>
<meta name="description" content="{{ section.description }}" />
<meta property="og:title" content="{{ section.title }}" />
<meta property="og:description" content="{{ section.description }}" />
<meta property="og:image" content="{{config.base_url~'/hero.webp'}}" />
{% endblock page_meta%} 


{% block main %}

<div class="Portfolio">
  <div class="Portfolio__grid">
    {% for page in section.pages %}
    {{ macros::portfolio_grid_item(asset=page.assets[0], title=page.title, href=page.path) }}
    {% endfor %}
  </div>
</div>

{% endblock main %} 

{% block sidebar %}
<div class="Portfolio__sidebar">
  <nav class="Navigation Navigation--aside">
    {%set categories=get_taxonomy(kind="category")%}
    <ul class="Navigation__list">
      <li class="Navigation__item Portfolio__nav-item">
        {{macros::nav_link(href=section.path, text="All")}}
      </li>
      {% for category in categories.items | reverse %}
        <li class="Navigation__item Portfolio__nav-item">
          {{macros::nav_link(href=category.path, text=category.name | title)}}
        </li>
      {% endfor %}
    </ul>
  </nav>
</div>
{% endblock sidebar %}
