{% import "macros.html" as macros %} {% extends "layout.html" %} {% block
page_meta %}
<title>{{ section.title }}</title>
<meta name="description" content="{{ section.description }}" />
{% endblock page_meta%} {% block scripts%} 
<script>
  function filterItems(query) {
    var items = document.querySelectorAll(".Portfolio__item");
    items.forEach(function(item) {
      var categories = item.getAttribute("data-categories");
      if (categories.indexOf(query) > -1 || !query) {
        item.classList.remove("Portfolio__item--hidden");
      } else {
        item.classList.add("Portfolio__item--hidden");
      }
    });
  }
  (function() {
    window.addEventListener("DOMContentLoaded", function() {
      var links = document.querySelectorAll(".Portfolio__nav-item a");
      links.forEach(function(link) {
        link.addEventListener("click", function(e) {
          var query = link.getAttribute("href").split("#")[1];
          filterItems(query);
        });
      });
      var query = window.location.hash.replace("#", "");
      filterItems(query);
    })
  })()
</script>{%endblock%}{% block main %}

<div class="Portfolio">
  
  <div class="Portfolio__grid">
    {% for page in section.pages %}
      <div class="Portfolio__item" data-categories="{% for category in page.taxonomies.category %}
      {% set term = get_taxonomy_term(kind='category', term=category)%}
      {{term.slug}},
      {% endfor %}{% for category in page.taxonomies.category %}
      {% set term = get_taxonomy_term(kind='category', term=category)%}
      {{term.slug}},
      {% endfor %}">
        {%set title = page.title | default(value='untitled')%}
        <a href="{{ page.path }}" class="Portfolio__link" title="{{title}}">
          {% set image = resize_image(path=page.assets[0], width=500, height=500, op='fill')%}
          <img src="{{ image.url }}" alt="{{ title }}" />
          <span>{{title}}</span>
        </a>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock main %} {% block sidebar %}
<div class="Portfolio__sidebar">
  <nav class="Navigation Navigation--aside">
    {%set categories=get_taxonomy(kind="category")%}
    <ul class="Navigation__list">
      <li class="Navigation__item Portfolio__nav-item">
        {{macros::nav_link(href=section.path, text="All")}}
      </li>
      {% for category in categories.items %}
        <li class="Navigation__item Portfolio__nav-item">
          {{macros::nav_link(href=current_path~"#"~category.slug, text=category.name | title)}}
        </li>
      {% endfor %}
    </ul>
  </nav>
</div>
{% endblock sidebar %}
