{% import "macros.html" as macros %}
{% extends "layout.html" %} 


{% block page_meta %}
<title>{{page.title |default(value="untitled")}}</title>
<meta name="description" content="{{ page.description }}" />
{% endblock page_meta%} 

{% block main %}
<div class="Portfolio">
  <article class="Portfolio__showcase">
    {% for asset in page.assets %}
    <figure class="Portfoliio__fiigure">
      {% set image = resize_image(path=asset, width=800, height=800, op='fit')%}
      <img src="{{ image.url }}" alt="{{ page.title }}" />
      <figcaption>{{ page.title }}</figcaption>
    </figure>
    {% endfor %}
    <div class="Portfolio__content">
      {{ page.content | safe }}
    </div>
  </article>
</div>
{% endblock main %}

{% block sidebar %}
<div class="Portfolio__sidebar">
  <nav class="Navigation Navigation--aside">
    <ul class="Navigation__list">
      <li class="Navigation__item Portfolio__nav-item">
        {{macros::nav_link(href="/portfolio", text="← Back to all")}}
      </li>
      <li class="Navigation__item Portfolio__nav-item">
        <hr/>
      </li>
      {% for term in page.taxonomies.category %}
      {% set term = get_taxonomy_term(kind='category', term=term) %}
      <li class="Navigation__item Portfolio__nav-item">
        {{macros::nav_link(href="/portfolio#"~term.slug, text=term.name | title)}}
      </li>
      {% endfor %}
    </ul>
  </nav>
</div>
{% endblock sidebar %}