{% import "macros.html" as macros %}
{% extends "layout.html" %} 

{% block page_meta %}
<title>{{ page.title }}</title>
<meta name="description" content="{{ page.description }}" />
{% endblock page_meta%}

{% block main %}
<form class="Form" name="commissions" data-netlify="true" method="POST">
  <legend class="Form__legend">
    {{page.content | safe}}
  </legend>
  <label class="Form__label" for="name">From:</label>
  <input class="Form__input" type="text" name="name" max="500" placeholder="What's your name?" />
  <label class="Form__label" for="email">Email:</label>
  <input class="Form__input" type="email" required max="500" name="email" placeholder="How to contact you?" />
  <label class="Form__label" for="message">Message:</label>
  <textarea class="Form__input Form__input--textarea" name="message" min="200" rows="10" required
    placeholder="Inquire..."></textarea>
  <button class="Form__submit" type="submit">Send commission inquiry</button>
</form>
{% endblock main %}