{% extends "polymathic/templates/page.html" %}

{% block page_content %}
  <article class="poly-page-main poly-container">
    <h4>{{page.title}}</h4>
    {{ page.content | safe }}
    {% set p_section = get_section(path="portfolio/_index.md") -%}
    {% set projects = p_section.pages | filter(attribute="extra.employer", value=page.extra.employer) %}
    {% if projects | length > 0 %}
      <hr/>
      <h5>My projects @ {{page.extra.employer}}</h5>
      <div class="poly-grid">
        {% for project in projects %}
          {{preview::macro(type="page", parent_section=p_section, entry=project)}}
        {% endfor %}
      </div>
    {% endif %}
  </article>
{% endblock %}