
{% import "macros.html" as macros %}
{% extends "base.html" %}

{% block page_meta %}
<title>{{ section.title }}</title>
<meta name="description" content="{{ section.description }}" />
<meta property="og:title" content="{{ section.title }}" />
<meta property="og:description" content="{{ section.description }}" />
<meta property="og:image" content="{{ config.base_url~'/hero.webp' }}" />
{% endblock page_meta%}

{% block content %}
  <main class="Landing">
    <div class="Landing__hero"></div>
    <h1 class="Landing__type">
      <span>Hi! I'm</span>
      <span>a Communication artist<sup>*</sup></span>
      <small><sup>*</sup>self-proclaimed</small>
    </h1>
    <div class='Landing__content'>
      {{macros::navigation(type="Navigation--large Landing__navigation")}}
      <article>
        {{section.content | safe}}
      </article>
    </div>
    {{macros::navigation(type="Navigation--large Landing__navigation", logo=false)}}
  </main>
  <footer class="Layout__footer">
    <a href="/license">(CC-BY-SA 4.0) a.nvlkv {{now() | date(format="%Y")}}</a>
  </footer>
{% endblock %}