{% import "macros.html" as macros %}
{% extends "base.html" %} 

{% block content%}
  <div class="Layout">
    <header class="Layout__header">
      {{ macros::navigation() }}
    </header>
    <main class="Layout__main">
     {%block main%}{%endblock main%}
    </main>
    <aside class="Layout__sidebar">
      <div class="Layout__sidebar-wrapper">
        {%block sidebar%}{%endblock sidebar%}
      </div>
    </aside>
    <footer class="Layout__footer">
      <a href="/license">(PPL) a.nvlkv {{now() | date(format="%Y")}}</a>
    </footer>
  </div>
{% endblock %}

