{% macro navigation(type="", logo=true)%}
<div class="Navigation {{type}}">
  {% if logo %}
  <nav class="Navigation__logo">
    {{ self::nav_link(href="/", text="a.nvlkv") }}
  </nav>
  {% endif %}
  <input type="checkbox" id="menu-toggle" class="Navigation__trigger" />
  <label for="menu-toggle" class="Navigation__label"></label>
  <nav
    class="Navigation__nav"
    onclick="document.getElementById('menu-toggle').setAttribute('checked', 'false')"
  >
    <ul class="Navigation__list">
      <li class="Navigation__item">
        {{ self::nav_link(href="/", text="a.nvlkv") }}
      </li>


      <li class="Navigation__item">
        {% set section = get_section(path="resume/_index.md") %} {{
        self::nav_link(href=section.path, text="Resume",
        reading_time=self::section_reading_time(section=section)) }}
      </li>
      <li class="Navigation__item">
        {% set section = get_section(path="portfolio/_index.md") %} {{
        self::nav_link(href=section.path, text="Portfolio",
        reading_time=self::section_reading_time(section=section)) }}
      </li>
      <li class="Navigation__item">
        {{ self::nav_link(href="/contact", text="Contact") }}
      </li>

    </ul>
  </nav>
</div>
{% endmacro navigation %} 

{% macro nav_link(href, text, reading_time=false)%} {%
if current_path and current_path == href %}
<span class="Navigation__link Navigation__link--active"
  >{{text}} {% if reading_time %}{{reading_time | safe}}{% endif %}</span
>
{% else %}
<a class="Navigation__link" href="{{href}}"
  >{{text}} {% if reading_time %}{{reading_time | safe}}{% endif %}</a
>
{% endif %} 
{% endmacro nav_link%} 


{% macro section_reading_time(section) %}
{% set assets_time = section.assets | length%}
{% set reading_time = section.reading_time %} 
{% for page in section.pages %} 
{% set_global reading_time = reading_time + page.reading_time %} 
{% set page_assets_time = page.assets | length %} 
{% set_global assets_time = assets_time + page_assets_time %} 
{% if
reading_time + assets_time > 0 %} 
{% if loop.last %} 
{% set total_time =
(reading_time + assets_time/20) | round(method="ceil") %}
<small>{{ total_time }} minute{{ total_time | pluralize}} read</small>

{% endif %} 
{% endif %} 
{% endfor %} 
{% endmacro section_reading_time %} 
{%
macro period_format(periods) %} 
{% for period in periods %} 
{% if loop.index > 1
%} - 
{% endif %} {{ period }} 
{% endfor %} 
{% endmacro period_format%}


{% macro figure(asset, type="Portfolio", title=false) %}
{% set image = resize_image(path=asset, width=800, height=800, op='fit', format="webp")%}
{% set meta = get_image_metadata(path=asset)%}
{% set original = resize_image(path=asset, width=meta.width, height=meta.height)%}
<a class="{{type}}__img-link" href="{{original.url}}" target="_blank">
<figure class="{{type}}__figure">
    <img src="{{ image.url }}" alt="{{ page.title }}" width="{{image.width}}" height="{{image.height}}" />
    {% if title is string %}
    <figcaption>{{ title }}</figcaption>
    {% elif title %}
    <figcaption>{{ asset | split(pat="/") | last | split(pat=".") | first | title }}</figcaption>
    {% endif %}
  </figure>
</a>
{% endmacro  %}