{% import "macros.html" as macros %}
{% extends "layout.html" %} 

{% block page_meta %}
<title>{{ section.title }}</title>
<meta name="description" content="{{ section.description }}" />
<meta property="og:title" content="{{ section.title }}" />
<meta property="og:description" content="{{ section.description }}" />
<meta property="og:image" content="{{config.base_url~'/hero.webp'}}" />
{% endblock page_meta%}

{% block main %}

<div class="Page">
  <h3>Experience</h3>
  {% for page in section.pages %}
  <div class="CV__enrty">
    <h5>{{page.taxonomies.period[0]}} - {{page.taxonomies.period[1]}}</h4>
    {% set employer = get_taxonomy_term(kind="employer", term=page.taxonomies.employer[0]) %}
    <h4><a href="{{employer.path}}">{{page.title}} @ {{employer.name}}</a>, <small>{{page.taxonomies.location[0]}}</small></h3>
      <article>{{page.content | safe}}</article>
  </div>
  {% endfor %}
  {{ section.content | safe }}
</div>

{% endblock main %}


